.btn {
  width: 20rem;
  height: 4rem;
  background-color: #ef0d8d;
  margin: 20px auto;
  border-radius: 10px;
  font-size: 3rem;
  text-align: center;
  display: block;
  text-decoration: none;
  font-family: "Bebas Neue", sans-serif;
  font-weight: bold;
  font-style: normal;
  color: #212529;
}

.btn:hover {
  background-color: #219ebc;
  color: black;
}
