.skills {
    margin-left: auto;
    margin-right: auto;
  }

  .resume-heading {
    font-size: 3rem;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    color: #219ebc;
  }
  
  ul {
    list-style-type: none;
    justify-content: center;
  }
  
  li {
    font-size: 2rem;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: white;
  }
  
  .frontend,
  .backend {
    border: 6px #219ebc solid;
    border-radius: 20px;
    width: 30rem;
    background-color: #1f1f1f;
    padding-top: 20px;
    margin: 10px 50px;
  }

  @media screen and (max-width: 1120px) {
    .resume-heading {
      font-size: 2.5rem;
    }
    li {
      font-size: 1.5rem;
    }
    .frontend, .backend {
      width: 20rem;
    }
  }

  @media screen and (max-width: 785px) {
    .skills {
      flex-wrap: wrap; 
      justify-content: center;
    }
    .heading {
      font-size: 4rem;
      margin-bottom: 2rem;
      margin-top: 2rem

    }
  }
  