.body {
    margin-left: auto;
    margin-right: auto;
}

.portrait {
   max-height: 40rem;
}

.about {
    font-size: 1.75rem;
    font-weight: 500;
    color: white;
    font-family: "Quicksand", sans-serif;
}

@media screen and (max-width: 1050px) {
    .about {
     font-size: 1.25rem;
    }
 }

 @media screen and (max-width: 770px) {
    .main {
      flex-wrap: wrap; 
      justify-content: center;
    }
  
    .imageContainer {
      width: 100%; 
      margin-bottom: 20px; 
      
    }
  
    .AboutContainer {
      width: 100%;
    }
  }
