.body {
    margin-left: auto;
    margin-right: auto;
}

.main {
  justify-content: space-between;
}

.portraitBlue {
   max-height: 40rem;
}

.imageContainer {
  padding-right: 5em;
}

.about {
    font-size: 1.75rem;
    font-weight: 500;
    color: white;
    font-family: "Quicksand", sans-serif;
}

@media screen and (max-width: 1200px) {
    .about {
     font-size: 1.25rem;
    }
    .portraitBlue {
      max-height: 35rem;
    }
 }

 @media screen and (max-width: 1000px) {
  .about {
    font-size: 1rem;
   }
   .portraitBlue {
     max-height: 30rem;
   }
   .title {
    font-size: 4rem;
   }
 }

 @media screen and (max-width: 770px) {
    .main {
      flex-wrap: wrap; 
      justify-content: center;
    }
  
    .imageContainer {
      width: 100%; 
      margin-bottom: 20px; 
      padding: 1rem;
    }

    .AboutContainer {
      width: 100%;
    }
  }
