.home {
  margin: 0 auto;
  overflow: hidden;
  display: flex;
}

.imgContainer {
  align-items: start;
}

.textContainer {
  padding: 2rem 5rem !important;
  color: white;
  font-size: 3rem;
  flex-direction: column;
  font-weight: 500;
  font-family: "Quicksand", sans-serif;
}

.hello {
  font-size: 1.5rem;
  font-weight: bolder;
}

.homeName {
  color: #219ebc;
  font-weight: 900;
}

.homeintro {
  font-weight: 100;
  font-size: 1.5rem;
}

.btnContainer {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 3rem;
}

.button {
  width: 20rem;
  height: 4rem;
  margin: 20px auto !important;
  border-radius: 10px;
  font-weight: bold;
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
  font-size: 3rem;
  background-color: #ef0d8d;
  color: #212529;
  text-decoration: none;
  text-align: center;
  align-items: center;
}

.button:hover {
  background-color: #219ebc;
  color: black;
}

/* @media screen and (max-width: 1610px) {
  .button {
    width: 15rem;
    font-size: 2rem;
  }
} */

/* style={{ minHeight: "calc(100vh - 8rem)" }} // Set min-height to take up remaining space above the footer */
