.main-container {
    position: relative;
}

.grid-container {
    display: flex;
    justify-content: center;
}

.project-container {
    width: 35rem;
    padding-bottom: 1rem;
}

.heading {
    text-align: center;
}

.btn-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}