.main-container {
    position: relative;
}

.grid-container {
    display: flex;
    justify-content: center;
}

.project-container {
    width: 40rem;
    padding-bottom: 1rem;
}

.heading {
    text-align: center;
    /* font-family: "Licorice"; */
}

.btn-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

@media screen and (max-width: 645px) {
    .project-container {
        width: 35rem;
    }
}

@media screen and (max-width: 560px) {
    .project-container {
        width: 30rem;
    }
}

@media screen and (max-width: 480px) {
    .project-container {
        width: 25rem;
    }
    .buttons {
        font-size: 1.25rem !important;
    }
}

@media screen and (max-width: 335px) {
    .buttons {
        font-size: 1rem !important;
    }
}