.skills {
    margin-left: auto;
    margin-right: auto;
  }

  h2 {
    font-size: 3rem;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    color: #219ebc;
  }
  
  ul {
    list-style-type: none;
  }
  
  li {
    font-size: 2rem;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: white;
  }
  
  .frontend,
  .backend {
    border: 6px #219ebc solid;
    border-radius: 20px;
    width: 30rem;
    background-color: #1f1f1f;
    padding-top: 20px;
    margin: auto 50px;
  }
  
  