.contact-details {
    color: white !important;
    font-size: 2rem !important;
    font-family: "Quicksand", sans-serif !important;
    text-transform: none !important;
}

.contact-me {
    text-align: center;
    color: white;
    font-size: 3.5rem;
    padding-bottom: 3rem;
}