.btn {
    width: 18rem;
    height: 4rem;
    background-color: #ef0d8d;
    margin: 100px auto;
    border-radius: 10px;
    font-size: 2.5rem;
    text-align: center;
    display: block;
    text-decoration: none;
    font-family: "Bebas Neue", sans-serif;
    font-weight: bold;
    font-style: normal;
  }

  /* .btn {
    width: 20rem;
    height: 60px;
    background-color: #ef0d8d;
    margin: 20px auto;
    border-radius: 10px;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
  } */
  
  .btn:hover {
    background-color: #219ebc;
    color: black;
  }