.nav-link.active {
  border-bottom: 3px solid #ef0d8d;
  font-weight: bolder;
}

.link {
    text-shadow: 
    -2px -2px 0 #219ebc,  
     2px -2px 0 #219ebc,
    -2px  2px 0 #219ebc,
     2px  2px 0 #219ebc;
}