.app-container {
  display: flex;
  flex-direction: column;
  background-color: #181818;
  min-height: 100vh;
  width: 100%;
}

.main-content {
  /* background-color: #d8dbe2; */
  background-color: #181818;
  flex: 1;
}

h1 {
  font-family: "Francois One", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 5rem;
  font-size: 3.5rem;
  /* color: #1f1f1f; */
  /* color: #219ebc; */
  /* color: #ef0d8d; */
  color: white;
}
